################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/main/src/HueLogging.ServiceV2/Properties/launchSettings.json
