HueLogging:ApiKey= #Hue Api Key that can be generated using CLI
ADVERTISED_HOST_NAME= # Currently IP address has been tested and works. Still need to investigate why hostname does not
HueLogging_CassandraVolumePath= # Filepath to the cassandra volume where data is stored
